<tr>
  <td class="text-center">
    <%= count_page skill_counter, params[:page] %>
  </td>
  <td class="text-center"><%= skill.name %></td>
  <td class="text-center">
    <div class="btn-group">
      <%= link_to edit_employers_skill_path(skill), remote: true,
        class: "btn btn-xs btn-warning", data: {toggle: "tooltip"} do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <% if skill.knowledges.blank? %>
        <%= link_to employers_skill_path(skill), method: :delete, remote: true,
          class: "btn btn-danger btn-xs", data: {confirm: (t ".sure")} do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
