<div class="block full">
  <div class="block-title">
    <h2><strong><%= t ".all_applies" %></strong></h2>
  </div>
  <div id="ecom-orders_wrapper" class="dataTables_wrapper form-inline no-footer">
    <div id="table-applies">
      <%= render "employers/interviews/applies" %>
    </div>
  </div>
</div>
