<label>
  <div class="input-group">
    <%= text_field_tag :name_question, "", class: "form-group form-control input-lg", placeholder: "#{t ".search_questions"}" %>
    <span class="input-group-addon">
      <%= link_to "javascript:void(0)", class: "btn btn-primary btn-sm seach-question" do %>
        <i class="fa fa-search"></i>
      <% end %>

      <%= link_to_add_association t(".add_question"), f, :surveys,
        "data-association-insertion-node" => "#survey-fields",
        "data-association-insertion-method" => "append",
        wrap_object: Proc.new {|survey| survey.build_question; survey},
        class: "btn btn-info btn-sm btn-add-new-questions" %>
    </span>
  </div>
</label>
