
.bg-1 {
  background-image: image-url("homepage/home-background.jpg");
}

.bg-2 {
  background-image: image-url("homepage/cta1-background.jpg");
}

.bg-3 {
  background-image: image-url("homepage/cta2-background.jpg");
}
